!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Document
    %link{href: "styles/style.css", rel: "stylesheet"}/
  %body
    %section.main
      %div{style: "height: 100%; display: flex; justify-content: center; align-items: center"}
        .main-wrap
          %h1.main-wrap__title Our Services
          .wrapper
            .card
              %img.card-img{src: "/img/bread.jpg"}/
              .card-title Breads
            .card
              %img.card-img{src: "/img/bread.jpg"}/
              .card-title Breads
            .card
              %img.card-img{src: "/img/bread.jpg"}/
              .card-title Breads
            .card
              %img.card-img{src: "/img/bread.jpg"}/
              .card-title Breads